.lc {
  background: linear-gradient(to bottom right, #933bff, #d10dff);
  height: 100vh;
  width: 50%;
}

.lc-jumbotron {
  align-items: center;
  display: flex;
  height: 100vh;
}

.lc-title {
  color: #fafafa;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

@media (max-width: 480px) {
  .lc-title {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 20px;
  }
}

.rc {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.rc-title {
  margin-top: 20px !important;
}

a:focus, 
a:hover,
a:active {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}