.lc {
  background: linear-gradient(to bottom right, #933bff, #d10dff);
  height: 100vh;
  width: 50%;
}

.lc-jumbotron {
  align-items: center;
  display: flex;
  height: 100vh;
}

.lc-title {
  color: #fafafa;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.rc-logo {
  margin: auto;
}

.rc-title {
  margin-top: 20px !important;
}

.rc-icon {
  position: fixed !important;
  bottom: 15px;
  width: 50%;
}