.header_content {
  min-height: 100vh;
  text-align: center;
}

.projects_heading {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.projects_floating_button {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
